body {
  font-family:sans-serif;
  padding:10px;
}

.phyllotaxis {
  display:flex;
}

.header{
  display:flex;
}

.introduction{
  display:flex;
  width:70%;
}

.social {
  display:flex;
  max-width:100%;
}

.logo_img {
  display:inline;
  width:20px;
  height:auto;
  margin:20px;
}

.work-subheads {
  font-family:sans-serif;
  font-size:15px;
  display:flex;
}

.samples {
  display: flex;
  height:330px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid black;
}

.samples > article {
  width: calc(100%/3);
}

.article {
  border:1px solid black;
  text-align:center;
  padding-left:24px;
  padding-right:24px;
  padding-top:0;
}

.article-img {
  height:200px;
  display:block;
  margin:auto;
  width:100%;
  border: 1px solid black;
}

.box{
  width:8.33%;
}
