body {
  font-family:sans-serif;
}

.social {
  display:flex;
  max-width:100%;
}

.logo_img {
  display:inline;
  width:20px;
  height:auto;
  margin:20px;
}

.work-subheads {
  font-family:sans-serif;
}
