---
---

@import "{{ site.theme }}";

.social{
  width:100px;
    display:inline;
}

.logo_img{
width: 20px;
    height: auto;
    margin: 0em 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 2px solid #fff;
    max-width: 100%;
    opacity: 0.8;
    vertical-align: middle;
}
