<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vaishali Verma</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  
  <body>
    <header>
        <h1>Vaishali Verma</h1>
        <p>I deal with data + design + development and tell you a great story. Because I believe clear visual communication is the key to changing people's mind.</p>
        <p>If this interests you, we should get to know each other:</p>
      
        <span class = 'social'>
          <a class="logo_link" href="mailto:vaishalivv@gmail.com" target="_blank"><img class="logo_img" src="img/logo-mail.png" alt="mail link"></a>
          <a class="logo_link" href="https://www.linkedin.com/in/vaishali-vr/" target="_blank"><img class="logo_img" src="img/logo-linkedin.png" alt="linkedin link"></a>
          <a class="logo_link" href="https://twitter.com/Vaishali__Vr" target="_blank"><img class="logo_img" src="img/logo-twitter.png" alt="twitter link"></a>
          <a class="logo_link" href="https://github.com/vaishalivr" target="_blank"><img class="logo_img" src="img/logo-github.png" alt="github link"></a>
        </span>
      
      </header>
    
      <section>

        This is where I write all my content, all the time.

      </section>
    
      <footer>
        
        <p><small>Developed and Managed by Vaishali Verma</small></p>
      </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}">
    </script>
    {% if site.google_analytics %}
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    
    {% endif %}
  </body> 
</html>
