<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vaishali Verma</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  
  <body>
    <header>
        <h1>Vaishali Verma</h1>
        <p>I deal with data + design + development and tell you a great story. </p>
        <p>A graduate Architect and a post-graduate Project Manager, I took a turn into data visualization while working for a home brewed startup where I was responsible for content management and user engagement ground up. And that is how the story began… </p>
        <p>If this interests you, we should get to know each other:
      
        <span class = 'social'>
          <a href="mailto:vaishalivv@gmail.com" target="_blank"><img class="logo_img" src="img/logo-mail.png" alt="mail link"></a>
          <a href="https://www.linkedin.com/in/vaishali-vr/" target="_blank"><img class="logo_img" src="img/logo-linkedin.png" alt="linkedin link"></a>
          <a href="https://twitter.com/Vaishali__Vr" target="_blank"><img class="logo_img" src="img/logo-twitter.png" alt="twitter link"></a>
          <a href="https://github.com/vaishalivr" target="_blank"><img class="logo_img" src="img/logo-github.png" alt="github link"></a>
        </span>
        </p>
      
      </header>
    
      <section>
        <div class = 'work-subheads'>
          <h2>Static</h2>
        </div>
        
        <div class = 'samples'>
        <article class = 'article'>
		<a href="make an html page and link here" target="_blank">
		<img class="article-img" src="img/how-to-make-your-goals-live-this-year-vaishali-verma-infographic.png" alt="How to make goals live this year">
		</a>
		<div>
			<p>People plan to live by their goals every year. A visual showing my take on how to keep sticking to them no matter what.</p>
			<p style = 'color:grey'>Illustrator</p>
		</div>
	</article>
		
	<article class = 'article'>
		<a href="make an html page and link here" target="_blank">
			<img class="article-img" src="img/Visualizing My Mind 8.21.53 PM.png" alt="Visualizing My Mind">
		</a>
		<div>
			<p>We relocated from India to US almost a year ago. With this move, for a few days, my mind was on auto mode celebrating the differences between the two countries.</p>
			<p style = 'color:grey'>Illustrator</p>
		</div>
      	</article>
				
		
	<article class = 'article'>
		<a href = "make an html page and link here" target="_blank">
		<img class="article-img" src="img/Pi2020.png" alt="Pi Art 2020">
		</a>
		<div>
 			<p>What would 3.14159... look like if every number took one step forward in the direction given to them</p>
			<p style = 'color:grey'>R</p>
		</div>
	</article>
      </section>
    
      <section>  
        <div class = 'work-subheads'>
          <h2>Interactive</h2>
        </div>
	
	<div class = 'samples'>
	<article class = 'article'>
		<a href = "make an html page and link here" target = "_blank">
		<img class="article-img" src="img/bicycle boom.png">
		</a>
		<div>
			<p>A trend showing how the number of bicycles were increased on the roads during the pandemic</p>
			<p>R & d3.js</p>
		</div>
	</article>

	<article class = 'article'>
		<a href = "make an html page and link here" target = "_blank">
		<img class="article-img" src="img/transit costs.png">
		</a>
		<div>
			<p>A visualization comparing the cost per kilometer to the number of kilometer in a project</p>
			<p>R and d3.js</p>
		</div>
	</article>

	<article class = 'article'>
		<a href = "make an html page and link here" target = "_blank">
		<img class="article-img" src="img/transit costs.png">
		</a>
		<div>
			<p>A visualization comparing the number of paintings that have been purchased by Tate Museum</p>
			<p> R & d3.js</p>
		</div>
	</article>
	
      </section>
    
      <section>
        <div class = 'work-subheads'>
          <h2>On the Side</h2>
        </div>
	      
	      <div class = 'samples'>
		<article class = 'article'>
			<a href = "make an html page and link here" target = "_blank">
			<img class = "article-img" src = "img/How to make a scone.png">
			</a>
			<div>
				<p>A small visualization showing how to make a scone, one of my starting ones with d3.js</p>
				<p>d3.js</p>
			</div>
		</article>

		<article class = 'article'>
			<a href = "make an html page and link here" target = "_blank">
			<img class = "article-img" src = "img/Newton.png">
			</a>
			<div>
				<p>Issac Newton too was caught in a lockdown. What did he do then?</p>
				<p>Illustrator</p>
			<div>
		</article>
		      
		<article class = 'article'>
			<a href = "make an html page and link here" target = "_blank">
			<img class = "article-img" src = "img/Madam VP.png">
			</a>
			<div>
				<p>What can Illustrator, Javascript and swearing in ceremony of the POTUS do</p>
				<p>Illustrator</p>	
			</div>
		</article>
	      </div>
      </section>
    
      <footer>
        
        <p><small>Developed and Managed by Vaishali Verma</small></p>
      </footer>
    </div>

    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}">
    </script>
    {% if site.google_analytics %}
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    
    {% endif %}
  </body> 
</html>
