<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>The Art of Pi </title>
</head>
<body>
	<p>While browsing online I cam across several examples of Pi artworks especially published by The Guardian and Visual Cinnamon>
	The idea was to create something which was not very informative but more of an art.</p>
	<p>The Start</p>
	<p>I started off with working on illustrator assigning every number a color, plotting the digit and its immediate successor. Also a small circle in the bottom to show if the digit under review and its immediate next digit is the same.</p>
	<img src="">
	<p>The Change</p>
	<p>It was almost impossible to plot all its digits on illustrator and so I started learning R which is a programming language that supports statistical computing and graphics. Since I had to spend no time cleaning the data, as it already was, I established a basic algorithm to create steps in a 2D field where the directions and color became defined by the digit itself.  Starting from 3 at point (0,0) on the graph, every digit was at 36 degree angle from its previous digit. Refer to the image of the first 10 digits below for a visual explanation.</p>
	<p>image of pi 10</p>
	<p>For the orders above 1000 digits and more, the above approach had become a colorful explosion. As I increased the digits gradually, I became more interested in seeing the walk they took. And this explosion was not helping me realize the path traveled. Therefore I used a color scale from the image above but let it spread out all over the digits used.</p>
	<p>all 3 plots</p>
	<p>The Errors</p>
	<p>Some of the plots were not behaving the way I thought they should. However some of these resulted in nice looking images too. As I was increasing the input from 1000 to 10000 digits of pi, an error might have made this happen, which made me recheck the whole code again.</p>
</body>
</html>