<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Visualizing My Mind </title>
</head>
<body>
	<h2> Visualizing My Mind </h2>
	<p>The Idea</p>
	<p>It was April 2019 when my husband was told about the possibility of moving to the US. After doing all that it takes, we arrived on the 15th of January 2020. I relocated to various places growing up and so this was a good-to-have-move after spending 10+ years in Bangalore. Only this time, i decided to keep a track of what I think.</p>
	<p>Also, in parallel, I was reading Giorgia Lupi’s Dear Data showing how data needs to be human and how important it is to focus on a small data set than what is usually called ‘big data’</p>
	<p>The Design</p>
	<p>I had been noting my thoughts all along and so I had a pageful of them. Initially I thought to color code every noun and adjective, but I ended up with too many colors and a completely lost output. After failing here, i realized that I needed to have certain parameters to showcase this data. So I stuck to the most natural ones – did this situation come to my mind earlier, what am i doing to come in sync and what part of my brain is getting involved.  But after a careful inspection, I found that it needed me to define a data driven language to showcase my points else it will get lost again.</p>
	<p>It needed a lot of thought deciding the questions to which my data would respond. And while i was exploring the possible options, i realized the amount of proximity it has with psychology. Truely, it was my prized take away from this project.</p>

	<img src="img/Visualizing My Mind 8.21.53 PM.png">

	<p>Because circle and square do not offer a lot of playing field when it comes to rotation, triangle/rectangle were the only options left. A triangle is not a largely used shape in data viz, and so I had my answer.  Permutation and combination led me to get the final shapes in order.</p>
	<p>Finally, apart from the physical tasks involved in relocation, it takes a lot of mental strength too. And so in the end, there is a summation of what more goes into relocation – apart from 25 boxes and the Atlantic ocean.</p>
	<p>I am glad i made this well in time. Else in my desperation to blend into the surroundings, I would have lost the honesty in them.</p>
</body>
</html>